/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main styling */
html,body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em; /*space between the ligns */
}

a {
    color: #333;
    text-decoration: none;
}
 
h1, h2, h3 {
    padding-bottom: 20px;
}

h4 {
    padding-top: 250px;
    font-size: 50px;
    color: #333;
    width: 1050px;
    height: 500px;
    overflow: hidden;
    line-height: 1.2em;
}

p {
    margin: 10px 0;/*10 for top and bottom,0 for left and right */
}

/*Utility classes */
.container1{
    margin: auto; /* push to the middle */
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
}

.text-primary {
    color: gold;
}

.lead {
    font-size: 20px;
}

.abc {
    display: inline-block;
    font-size: 18px;
    color: white;
    background: #333;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
}

.abc:hover {
    background: gold;
    color: #333;
}

.abc-light {
    background: #f4f4f4;
    color: #333;
}

.bg-dark {
    background: #333;
    color: white;
}

.bg-light {
    background: #f4f4f4;
    color:#333;
}

.bg-primary {
    color: #333;
    background:gold;
}

.clear {
    clear:both; /* because the boxes are floated */
}

.l-heading {
    font-size: 40px;
    padding-top: 100px;
}

/* Padding */
.py-1 {
    padding: 10px 0;
}
.py-2 {
    padding: 20px 0;
}
.py-3 {
    padding: 30px 0;
}


/* showcase */
#showcase {
    background: url('../images/hot2.jpg') no-repeat 
    center center/cover;
    height: 600px;
}

#showcase .showcase-content {
    color:white;
    text-align: center;
    padding-top: 170px;
}

#showcase .showcase-content h1 {
    font-size: 60px;
    line-height: 1.2em;

}

#showcase .showcase-content p {
    padding-bottom: 20px;
    line-height: 1.7em;
}

/*Home info */
#home-info {
    height: 400px;
}

#home-info .info-img {
    float: left;
    width: 50%;
    background: url('../images/hot2.jpg') no-repeat;
    min-height: 100%; /*full space */
}

#home-info .info-content {
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 50px 30px;
    overflow: hidden;
}

#home-info .info-content p {
    padding-bottom: 30px;
}

/* Features */
.box {
    float: left;
    width: 33.3%;
    padding: 50px;
    text-align: center;
}

.box i {
    margin-bottom: 10px;
}

/* About Info */
#about-info{
    height: 400px;
}


#about-info .info-right{
     float: right;
     width: 50%;
     min-height: 100%;
}

#about-info .info-right img {
    display: block;
    margin: auto;
    width: 70%;
    border-radius: 50%;
}

#about-info .info-left {
    float: left;
    width: 50%;
    min-height: 100%;
   text-align: center;
}

/* Testimonials */
#testimonials {
    height: 100%;
    /* background: url('slideshow-10.jpg') no-repeat
    center center/cover ; */
    padding-bottom: 200px;
}

#testimonials h2 {
    color: white;
    text-align: center;
    padding-bottom: 40px;
}

#testimonials .testimonial {
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 5px;
    opacity: 0.9;
}

#testimonials .testimonial img {
    width: 100px;
    float: left;
    margin-right: 20px;
    border-radius: 50%;
    height:fit-content;  
}

/*  Contact Form */
#contact-form .form-group {
    margin-bottom: 20px;
}

#contact-form label {
    display: block;
    margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px #ddd solid;
}

#contact-form textarea {
      height: 200px;
}

#contact-form input:focus,
#contact-form textarea:focus {
    outline: none;
    border-color:gold;
}

/* Footer */
#main-footer {
    position: fixed;
    bottom:0; left: 0; right:0;
    text-align: center;
    background: #444;
    color: white;
    padding: 20px;
    
}

/*Clock */
#review {
    background: url('../images/hot4.jpg') no-repeat 
    center center/cover;
    height: 600px;
}

.clock {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #444;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
}


/*tipCalculator */


#review1 {
    background: url('../images/hot5.jpg') no-repeat 
    center center/cover ;
    height: 600px;
}

#review1,
#billamt {
    font-size: 14px;
    /*color: #2980b9;*/
    color:#444;
    background-color:white;
    width: 60%;
    padding: 5px 5px 8px 8px;
  }

  #review1,
  #billamt:focus {
    background: #fff;
    border: 3px solid #444;
    outline: none;
  }
  
  #review1,
  #peopleamt {
    width: 60%;
    padding: 5px 5px 8px 8px;
    margin-left: 20px;
    font-size: 14px;
  }
  
  #review1  .dollarSign {
    display: inline;
  }

  #review1,
  #serviceQual {
    padding: 13px 13px 20px 20px;
    margin-left: 20px;
    font-size: 25px;
  }
  
  button {   /*Calculate button */
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 30px auto;
    background:#333;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-size: 17px;
    color: white;
  }
  
  button:hover {
    background:gold;
    border-bottom-color:#444;
  }
  
  button:active {
    position: relative;
    top: 1px;
  }

  #review1,
  #totalTip {
    font-size: 30px;
    margin-top: 5px;
    text-align: center;
  }

  #review1,
  #totalTip:before {
    content: "Tip amount";
    font-size: 20px;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
  }
  #review1,
  #totalTip sup {
    font-size: 20px;
    top: -18px;
  }
  #review1,
  #totalTip small {
    font-size: 20px;
    font-weight: bold;
    display: block;
  }

  #review1 h1 {
    background: #444;
    color: white;
    margin: 0;
    padding: 10px 100px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: normal;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  
  #section2 {
    background: url('../images/hot5.jpg') no-repeat 
    center center/cover ;
    height: 600px;
  }


  .rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}

header{
    position: fixed;
    top:0; left: 0; right:0;
    background: var(--black);
    padding:1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
    z-index: 10000;
}

header .logo img
{
    height: 80px;
}

header .navbar a{
    font-size: 1.7rem;
    border: .1rem solid transparent;
    padding:.5rem 1.5rem;
    color:var(--light-color);
}

header .navbar a.active,
header .navbar a:hover{
    color:#fff;
    border: .1rem solid rgba(205, 170, 124, 0.2);
    background: var(--green);
}

header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height:4.5rem;
    line-height: 4.5rem;
    width:4.5rem;
    text-align: center;
    font-size: 1.7rem;
    background:var(--light-color);
    border-radius: 50%;
    color: #fff;
}

header .icons i:hover,
header .icons a:hover{
    color:#fff;
    background: var(--light-color);
    transform: rotate(360deg);
}

header .icons #menu-bars{
    display: none;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --black:#333;
    --light-color:#cdaa7c;
    --box-shadow:0.5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    
    scroll-behavior: smooth;
}

header{
    position: fixed;
    top:0; left: 0; right:0;
    background: var(--black);
    padding:1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
    z-index: 10000;
}

header .logo img
{
    height: 80px;
}

header .navbar a{
    font-size: 1.7rem;
    border: .1rem solid transparent;
    padding:.5rem 1.5rem;
    color:var(--light-color);
}

header .navbar a.active,
header .navbar a:hover{
    color:#fff;
    border: .1rem solid rgba(205, 170, 124, 0.2);
    background: var(--green);
}

header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height:4.5rem;
    line-height: 4.5rem;
    width:4.5rem;
    text-align: center;
    font-size: 1.7rem;
    background:var(--light-color);
    border-radius: 50%;
    color: #fff;
}

header .icons i:hover,
header .icons a:hover{
    color:#fff;
    background: var(--light-color);
    transform: rotate(360deg);
}

header .icons #menu-bars{
    display: none;
}

.home .home-slider .slide{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: flex-start;
   ;
}

.home .home-slider .slide1{
   background: url(slideshow-9.jpg);
}

.home .home-slider .slide2{
    background: url(slideshow-11.jpg);
 }

 .home .home-slider .slide3{
    background: url(slideshow-8.jpg);
 }

 .home .home-slider .slide1,
 .home .home-slider .slide2,
 .home .home-slider .slide3{
    background-size: cover;
    background-repeat: no-repeat;
 }

 .home .home-slider .slide .content{
    text-align: center;
    padding-left: 9rem;
 }

 .home .home-slider .slide .content h3 {
    color: var(--light-color);
    font-size: 3rem;
    font-weight: 300;
 }

 .home .home-slider .slide .content h1 {
    color: #fff;
    font-size: 8rem;
    
 }

 .home .home-slider .slide .content p {
    color: #e6e7e7;
    font-size: 1.8rem;
    letter-spacing: 1px;
    padding: .5rem 0;
    line-height: 1.5;
    font-weight: 200;
 }
.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    border: .1rem solid rgba(205, 170, 124, 0.2);
    background: transparent;
    cursor: pointer;
    padding: .8rem 3rem;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btn:before{
    content: '';
    width: 100%;
    height: 100%;
    background: var(--light-color);
    z-index: -1;
    position: absolute;
    top: 0;
    left: -100%;
    transition: .5s;
}

.btn:hover.btn:before{
    content: '';
    width: 100%;
    height: 100%;
    background: var(--light-color);
    /*z-index: -1;*/
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s;
}

/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }
    
    header{
        padding:1rem 2rem;
    }
    
    header .logo img{
        height: 7rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    header .logo img{
        height: 7rem;
    }

    header .icons #menu-bars{
        display: inline-block;
    }

    header .navbar{
        position: absolute;
        top:100%; left:0; right:0;
        background:#eee;
        border-top: .1rem solid rgba(205,170,124,.2);
        border-bottom: .1rem solid rgba(205,170,124,.2);
        padding:1rem;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        display: block;
        padding:1.5rem;
        margin:1rem;
        font-size: 2rem;
        background:var(--light-color);
    }



    #search-form #search-box{
        width:90%;
        margin:0 1rem;
    }

    .home .home-slider .slide .content h3{
        font-size: 5rem;
    }

}

.swiper-pagination-bullet {
    background: var(--light-color)!important;
    width: 15px!important;
    height: 15px!important;
    border-radius: 0!important;
}

.dishes{
    background-color: var(--light-color);
}

.dishes h1,
.dishes h3
{
    color: black;
    font-size: 5rem;
    text-align: center;
}

.dishes .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap:1.5rem;
}

.dishes .box-container .box{
    padding:2.5rem;
    background:#fff;
    border-radius: .5rem;
    border:.1rem solid rgba(205, 170, 124, 0.2);
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    text-align: center;
}

.dishes .box-container .box .fa-heart,
.dishes .box-container .box .fa-eye{
    position: absolute;
    top:1.5rem;
    background:#eee;
    border-radius: 50%;
    height: 5rem;
    width:5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:var(--black);
}

.dishes .box-container .box .fa-heart:hover,
.dishes .box-container .box .fa-eye:hover{
    background: var(--green);
    color:#fff;
}

.dishes .box-container .box .fa-heart{
    right:-15rem;
}

.dishes .box-container .box .fa-eye{
    left:-15rem;
}

.dishes .box-container .box:hover .fa-heart{
    right:1.5rem;
}

.dishes .box-container .box:hover .fa-eye{
    left:1.5rem;
}

.dishes .box-container .box img{
    height:17rem;
    margin:1rem 0;
}

.dishes .box-container .box h3{
    color:var(--black);
    font-size: 2.5rem;
}

.dishes .box-container .box .stars{
    padding:1rem 0;
}

.dishes .box-container .box .stars i{
    font-size: 1.7rem;
    color:var(--green);
}

.dishes .box-container .box span{
    color:var(--green);
    font-weight: bolder;
    margin-right: 1rem;
    font-size: 2.5rem;
}


.dishes .btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    border: .1rem solid rgba(205, 170, 124, 0.2);
    background: var(--light-color);
    cursor: pointer;
    padding: .8rem 3rem;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.dishes .btn:before{
    content: '';
    width: 100%;
    height: 100%;
    background: var(--black);
    z-index: -1;
    position: absolute;
    top: 0;
    left: -100%;
    transition: .5s;
}

.dishes .btn:hover.btn:before{
    content: '';
    width: 100%;
    height: 100%;
    background: var(--black);
    /*z-index: -1;*/
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}



.footer-distributed{
	background: var(--black);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 5px 5px;
    bottom: 0;
    position: relative;
    height: 200px;
    margin-top: -200px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color: var(--light-color);
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}




.container{
    margin: auto; /* push to the middle */
    width: 100%;
    overflow: auto;
    padding: 0 0px;
}


